extends layout.pug

block content 
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9

        h1 Tim Marks

        p.lead.text-light
          | Full Stack JavaScript Developer

        .portfolio-bio
          p
            | Designer and product manager turned fullstack developer.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills

        ul
          li Express
          li Javascript
          li Node JS
          li Sketch
          li Product Management
          li HTMl / CSS
        h6 Contact Info

        ul
          li timmarks90@gmail.com

        a.button.expanded(href='https://www.linkedin.com/in/timmarks90/') LinkedIn
        a.button.expanded(href='https://github.com/timmarks90') GitHub
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  